{{ define "main"}}
  <main id="main">

    {{ if .Site.Params.production }}
      <meta http-equiv="refresh" content="0; url={{ .Site.Params.redirectUrl }}">
    {{ end }}
    <div class="container">
      <div id="{{ .Params.id }}"></div>
      {{ if .Site.Params.showSubheader }}
        {{ partial "home/subheader.html" . }}
      {{ end }}

      {{ range .Site.Sections }}
        {{ if and (eq .Type "events") (.Site.Params.showEvents) }}
          {{ partial "events/events.html" (dict "context" . "allEvents" false) }}
        {{ else }}
          {{ range .Sections.ByWeight }}
            {{ $section := . }}
            {{ if index site.Params (printf "%s%s" "show" (strings.FirstUpper (string $section.Type))) }}
              <div id="{{ $section.Params.id }}"></div>
                <div class="row section featured topspace">
                  <h2 class="section-title">
                    <span>{{$section.Title}}</span>
                  </h2>
                {{ partial (printf "%s%s.%s" "home/" $section.Type "html") $section }}
              </div>	<!-- /section -->
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    </div>	<!-- /container -->
  </main>

{{ end }}
